<?xml version="1.0"?>
<config>
    <modules>
        <Dull_Addressfields>
            <version>1.1.2</version>
        </Dull_Addressfields>
    </modules>
    <frontend>
        <layout>
            <updates>
                <Dull_AddressFields>
                    <file>dull/addressfields.xml</file>
                </Dull_AddressFields>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <customer>
                <rewrite>
                    <customer>Dull_Addressfields_Model_Customer</customer>
                </rewrite>
                <rewrite>
                    <address>Dull_Addressfields_Model_Address</address>
                </rewrite>
            </customer>
            <sales>
                <rewrite>
                    <quote_address>Dull_Addressfields_Model_Quote_Address</quote_address>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <checkout>
                <rewrite>
                    <onepage_billing>Dull_Addressfields_Block_Onepage_Billing</onepage_billing>
                    <onepage_shipping>Dull_Addressfields_Block_Onepage_Shipping</onepage_shipping>
                </rewrite>
            </checkout>
            <customer>
                <rewrite>
                    <form_register>Dull_Addressfields_Block_Form_Register</form_register>
                    <address_edit>Dull_Addressfields_Block_Address_Edit</address_edit>
                </rewrite>
            </customer>
        </blocks>
    </global>
</config>