<?xml version="1.0" encoding="UTF-8"?>
    <config>
    <modules>
        <Tdg_Check>
            <version>1.0.0</version>
        </Tdg_Check>
    </modules>
    <admin>
        <fieldsets>
            <customer_dataflow>
                <parroquia><billing>1</billing><shipping>1</shipping></parroquia>
            </customer_dataflow>
        </fieldsets>
    </admin>
    <global>
        <models>
            <check>
                <class>Tdg_Check_Model</class>
            </check>
        </models>
        <resources>
            <check_setup>
                <setup>
                    <module>Tdg_Check</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </check_setup>
            <check_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </check_write>
            <check_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </check_read>
        </resources>
        <fieldsets>
            <sales_copy_order_billing_address>
                <parroquia><to_order>*</to_order></parroquia>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <parroquia><to_order>*</to_order></parroquia>
            </sales_copy_order_shipping_address>
            <sales_convert_quote_address>
                <parroquia><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></parroquia>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <parroquia><to_quote_address>*</to_quote_address></parroquia>
            </sales_convert_order_address>
            <customer_address>
                 <parroquia><to_quote_address>*</to_quote_address></parroquia>
            </customer_address>
            <checkout_onepage_billing>
                <parroquia><to_customer>*</to_customer></parroquia>
            </checkout_onepage_billing>
        </fieldsets>
    </global>
</config>