<?xml version="1.0"?>
<config>
    <modules>
        <Direcciones_Mrw>
            <version>0.1.0</version>
        </Direcciones_Mrw>
    </modules>
    <frontend>
        <routers>
            <address>
                <use>standard</use>
                <args>
                    <module>Direcciones_Mrw</module>
                    <frontName>address</frontName>
                </args>
            </address>
        </routers>
        <layout>
            <updates>
                <address>
                    <file>address.xml</file>
                </address>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <address>
                <class>Direcciones_Mrw_Model</class>
                <resourceModel>address_mysql4</resourceModel>
            </address>
            <address_mysql4>
                <class>Direcciones_Mrw_Model_Mysql4</class>
                <entities>
                    <address>
                        <table>address</table>
                    </address>
                </entities>
            </address_mysql4>
        </models>
        <resources>
            <address_setup>
                <setup>
                    <module>Direcciones_Mrw</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </address_setup>
            <address_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </address_write>
            <address_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </address_read>
        </resources>
        <blocks>
            <address>
                <class>Direcciones_Mrw_Block</class>
            </address>
        </blocks>
        <helpers>
            <address>
                <class>Direcciones_Mrw_Helper</class>
            </address>
        </helpers>
     </global>
     <global>
        <fieldsets>
        	<sales_convert_quote_address>
                    <parroquia>
                        <to_order_address>*</to_order_address>
                        <to_customer_address>*</to_customer_address>
                    </parroquia>
                    <municipio>
                        <to_order_address>*</to_order_address>
                        <to_customer_address>*</to_customer_address>
                    </municipio>
                    <agencia>
                        <to_order_address>*</to_order_address>
                        <to_customer_address>*</to_customer_address>
                    </agencia>
        	</sales_convert_quote_address>
        	<customer_address>
        		<parroquia>
                            <to_quote_address>*</to_quote_address>
                        </parroquia>
                        <municipio>
                            <to_quote_address>*</to_quote_address>
                        </municipio>
                        <agencia>
                            <to_quote_address>*</to_quote_address>
                        </agencia>
        	</customer_address>
        </fieldsets>
    </global>
</config>